.homeScreen_title{
    font-size: 30px;
    color: black;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.homeScreen_products{
    display: grid;
    grid-template-columns: repeat(4,1fr);  
}

@media (max-width:1400px){
    .homeScreen_products{
        display: grid;
        grid-template-columns: repeat( 4,1fr);
    }
}
@media (max-width:1250px){
    .homeScreen_products{
        display: grid;
        grid-template-columns: repeat( 3,1fr);
        justify-content: center;

    }
}
@media (max-width:900px){
    .homeScreen_products{
        grid-template-columns: repeat(2 ,1fr);
    }
}
@media (max-width:600px){
    .homeScreen_products{
        grid-template-columns: repeat(1 ,1fr);
    }
}